
<script >
import Vue from "vue";

Vue.component("example", {
  template: "<span>{{ message }}</span>",
  data: function () {
    return {
      message: "not updated",
    };
  },
  methods: {
    updateMessage: function () {
      this.message = "updated";
      console.log(this.$el.textContent); // => 'not updated'
      this.$nextTick(function () {
        console.log(this.$el.textContent); // => 'updated'
      });
    },
  },
});
</script>