<template>
  <div>{{ count }}</div>
</template>


<script>
import { computed, ref, watch, watchEffect } from "vue";

export default {
  setup() {
    const count = ref(1);
    const plusOne = computed({
      get: () => count.value + 1,
      set: (val) => {
        count.value = val - 1;
      },
    });
    plusOne.value = 5;

    const firstName = ref("");
    const lastName = ref("");

    watch([firstName, lastName], (newValues, prevValues) => {
      console.log(newValues, prevValues);
    });

    firstName.value = "John"; // logs: ["John",""] ["", ""]
    lastName.value = "Smith"; // logs: ["John", "Smith"] ["John", ""]

    watchEffect(
      () => {
        console.log(count.value);
      },
      { flush: "post" }
    );

    return {
      count,
    };
  },
};
</script>
