<template>
  <input v-focus />

  <p>Scroll down the page</p>
  <p v-pin:[direction]="200">I am pinned onto the page at 200px to the left</p>

  <input
    type="range"
    min="0"
    max="500"
    style="margin-top: 50px"
    v-model="pinPadding"
  />
  <p v-pinPadding:[direction]="pinPadding">
    Stick me {{ pinPadding + "px" }} from the {{ direction }} of the page
  </p>
</template>

<script>
export default {
  data() {
    return {
      direction: "right",
      pinPadding: 200,
    };
  },

  directives: {
    focus: {
      // directive definition
      mounted(el) {
        el.focus();
      },
    },

    pin: {
      mounted(el, binding) {
        el.style.position = "fixed";
        // binding.arg is an argument we pass to directive
        const s = binding.arg || "top";
        el.style[s] = binding.value + "px";
      },
    },

    pinPadding: {
      mounted(el, binding) {
        el.style.position = "fixed";
        const s = binding.arg || "top";
        el.style[s] = binding.value + "px";
      },
      updated(el, binding) {
        const s = binding.arg || "top";
        el.style[s] = binding.value + "px";
      },
    },
  },
};
</script>
