<template>
  <h3>Basic Vue</h3>
  <ul style="list-style-type: none; padding: 0">
    <li><router-link to="/composition">Composition</router-link></li>
    <li><router-link to="/life-cycle">Life Cycle</router-link></li>

    <li><router-link to="/todos">To Dos</router-link></li>

    <li><router-link to="/reactivity">Reactivity</router-link></li>

    <li><router-link to="/users">Users</router-link></li>

    <li><router-link to="/mixin">Mixin</router-link></li>

    <li><router-link to="/teleport">Teleport</router-link></li>

    <li><router-link to="/render-function">Render Function</router-link></li>

    <li><router-link to="/custom-directive">Custom Directive</router-link></li>

    <li><router-link to="/computed-watch">Computed And Watch</router-link></li>

    <li><router-link to="/state-management">State Management</router-link></li>

    <li><router-link to="/slot">Slot</router-link></li>

    <li><router-link to="/provide-inject">Provide Inject</router-link></li>

    <!-- <li><router-link to="/bar">Go to Bar</router-link></li> -->
  </ul>
</template>

<script lan="ts">
export default {
  name: "Home",
};
</script>
