<template>
  <div>{{ message }}</div>
</template>

<script lang="ts">
const myMixin = {
  created() {
    this.hello();
    console.log("mixin hook called");
  },
  methods: {
    hello() {
      console.log("hello from mixin!");
    },
    conflicting() {
      console.log("from self");
    },
  },
};

export default {
  mixins: [myMixin],
  data() {
    return {
      message: "goodbye",
      bar: "def",
    };
  },
  created() {
    console.log(this.$data); // => { message: "goodbye", foo: "abc", bar: "def" }
    console.log("component hook called");
  },
};
</script>
