<template>
  <div>
    <span>{{ count }}</span>
    <button @click="count++">Increment count</button>
    <button @click="nested.count.value++">Nested Increment count</button>
  </div>
</template>

<script>
import { reactive, ref, watchEffect } from "vue";

export default {
  setup() {
    const count = ref(0);

    watchEffect(() => console.log(count.value));
    // -> logs 0

    const state = reactive({
      count,
    });

    console.log(state.count); // 0

    state.count = 1;
    console.log(count.value); // 1

    setTimeout(() => {
      count.value++;
      // -> logs 1
    }, 100);

    return {
      count,
      nested: {
        count,
      },
    };
  },
};
</script>