<template>
  <AnchoredHeading :level="1">Hello world!</AnchoredHeading>
</template>

<script>
import AnchoredHeading from "./anchored-heading.vue";

export default {
  components: {
    AnchoredHeading,
  },
  props: {
    level: {
      type: Number,
      required: true,
    },
  },
};
</script>
