<template>
  <todo-list>
    <i class="fas fa-check"></i>
    <span class="green">{{ item }}</span>
  </todo-list>
</template>

<script>
import TodoList from "./todo-list.vue";
export default {
  components: [TodoList],
};
</script>
