<template>
  <div>{{ count }}</div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: mapState({
    // arrow functions can make the code very succinct!
    count: (state) => state.count,

    // passing the string value 'count' is same as `state => state.count`
    countAlias: "count",

    // to access local state with `this`, a normal function must be used
    countPlusLocalState(state) {
      return state.count + this.localCount;
    },
  }),
};
</script>
