<script>
export default {
  data() {
    return {
      items: ["Feed a cat", "Buy milk"],
    };
  },
  template: `
    <ul>
      <li v-for="(item, index) in items">
        {{ item }}
      </li>
    </ul>
  `,
};
</script>
