<template>
  <div class="row justify-content-center">
    <table class="table" style="width: 800px">
      <thead>
        <tr>
          <th scope="col">S. No</th>
          <th scope="col">Name</th>
          <th scope="col">Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in users" :key="index">
          <td>{{ index + 1 }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.completed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { ref } from "vue";

export default {
  name: "crud",
  components: {},

  setup() {
    const users = ref([]);

    const getData = async () => {
      const response = await axios.get(
        "https://jsonplaceholder.typicode.com/todos"
      );
      users.value = response.data.splice(0, 15);
    };

    getData();

    return {
      users,
    };
  },
};
</script>