 <template>
  <div>{{ numbers }}</div>
</template>


<script>
import { reactive, watch } from "vue";
export default {
  setup() {
    const numbers = reactive([1, 2, 3, 4]);

    watch(
      () => [...numbers],
      (numbers, prevNumbers) => {
        console.log(numbers, prevNumbers);
      }
    );

    numbers.push(5); // logs: [1,2,3,4,5] [1,2,3,4]

    return {
      numbers,
    };
  },
};
</script>
